@font-face {
  font-family: Gilroy;
  font-weight: bold;
  src: url(./assests/gilroy.otf);
}
@font-face {
  font-family: Gilroy;
  font-weight: normal;
  src: url(./assests/Gilroy-Light.otf);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Gilroy !important;
  background-color: #fff !important;
}

.logo {
  padding: 0 1rem;
  height: 40px;
}
@media (min-width: 768px) {
  .logo {
    text-align: center;
    height: 60px;
  }
}
.logo img {
  height: 100%;
}
